body {
    background-color: #888;
}

.father{
    width: 100px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    border-bottom: 50px solid #fff;
    position: relative;
}

.before {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 15px solid #000;
    border-radius: 50%;
    top : 50%;
    background-color: #fff;
}

.after {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 15px solid #fff;
    border-radius: 50%;
    top : 50%;
    left: 50%;
    background-color: #000;
}
/*
.father {
	width: 96px;
	height: 48px;
	background: #eee;
	border-color: red;
	border-style: solid;
	border-width: 2px 2px 50px 2px;
	border-radius: 100%;
	position: relative;
}

.before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	background: #eee;
	border: 18px solid red;
	border-radius: 100%;
	width: 12px;
	height: 12px;
}

.after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background: red;
	border: 18px solid #eee;
	border-radius:100%;
	width: 12px;
	height: 12px;
}
*/